In [22]:
import pandas as pd
from pathlib import Path

In [23]:
main_path = Path(r"D:\Projects\PythonProjects\Projects\src\labs\antennas_data")
first_11_name = "first_11.csv"
second_12_name = "second_12.csv"
loop_name = "loop.csv"
broad_name = "broad.csv"

In [32]:
def get_data(name):
    df = pd.read_csv(main_path / name, header=2, names=["F", "R", "jX"], ).astype(float)
    df["R+JX"] = df["R"] + 1j * df["jX"]
    return df

In [33]:
first_11 = get_data(first_11_name)
display(first_11.head())
display(first_11.tail())

             F         R          jX                  R+JX
0  100000000.0  4.004687 -206.639533  4.004687-206.639533j
1  101500000.0  3.935390 -203.389430  3.93539-0203.389430j
2  103000000.0  3.712258 -200.369760  3.712258-200.369760j
3  104500000.0  3.599455 -197.197866  3.599455-197.197866j
4  106000000.0  3.519938 -194.350318  3.519938-194.350318j

                 F          R          jX                   R+JX
996   1.594000e+09  41.973946  144.261631  41.973946+144.261631j
997   1.595500e+09  42.594981  145.523232  42.594981+145.523232j
998   1.597000e+09  43.120922  146.668254  43.120922+146.668254j
999   1.598500e+09  43.781742  147.995340  43.781742+147.995340j
1000  1.600000e+09  44.365011  149.286471  44.365011+149.286471j

In [34]:
first_11.dtypes

F          float64
R          float64
jX         float64
R+JX    complex128
dtype: object